:root{
    --dark: rgb(10, 10, 10);
    --light: rgb(242, 242, 242);
}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    background-color: var(--light)
}


header{
background-color: var(--dark)
}
body{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

li{
   display: inline;
   padding:3rem;
   background-color: var(--light)
   
   
}
a{
    text-decoration: none;
    color: rgb(178, 178, 249);
    background-color: var(--light)
}
a:hover{
    background-color: var(--light);
    transition: 1s;
}
.title{
    padding: 2rem;
    color:rgb(13, 3, 31);
    text-align: center;
  
    
}

article p{

   text-align: center;
   padding: 2rem
}
.compRow .comp{
   
   position: inherit;
   padding: 1rem;
  
    
}
