:root{
    --dark: rgb(10, 10, 10);
    --light: rgb(242, 242, 242);
}


*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: var(--light);

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
}

header{
    padding-top: 0;
}

li{
   display: inline;
   background-color: var(--light);

}

a{
    text-decoration: none;
    color: rgb(178, 178, 249);
    background-color: var(--light);
    color: rgb(6, 16, 6);
    float: right;
    margin: 0.5rem 0.5rem;
  

}

a:hover{
    background-color: ivory;
    color: var(--light);
    opacity: 0.9;
    transition: 1s;
}
.logo{
    font-size: large;
    color: black;
    float: left;
    margin-top:0.5rem;
}
.title{
    margin-top:  6rem;
    padding: 2rem;
    color:rgb(37, 22, 66);
    text-align: center;
   
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 4rem;
  
} 

article .computers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    text-align: center;
    background-color:ivory;   
    border-radius: 5rem;
    line-height: 3rem;
    margin-top: 4rem;
    
    
    
   
    
}
.nav-list{
    display: flex;
    justify-content: center;;
}
h1{
   align-self: center;
}
img{
  width: 50%;

   
}

.computers{
    display: flex;
    
    
}
h1{
    display: flex;
    align-self: flex-start;
}
@media only screen and (max-width: 600px) {
  .computers{
    flex-direction: column;

  }
  img{
    width: 90%;
    align-self: center;
  }
  }
button{
  width: 20%;
  height: 40%;
}
footer{
    background-color: black;
    color:aliceblue;
}

