:root{
    --dark: rgb(10, 10, 10);
    --light: rgb(242, 242, 242);
}


*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    background-color: var(--light)
}



body{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

li{
   display: inline;
   padding:3rem;
   background-color: var(--light);

   
   
}
a{
    text-decoration: none;
    color: rgb(178, 178, 249);
    background-color: var(--light);
    color: green;
    float: right;
    margin: 0.5rem 1rem;

}
a:hover{
    background-color: var(--dark);
    color: var(--light);
    opacity: 0.5;
    transition: 1s;
}
.logo{
    font-size: large;
    color: black;
    float: left;
    margin-top:0.5rem;
}
.title{
    padding: 2rem;
    color:rgb(13, 3, 31);
    text-align: center;
  
    
}

article p{

   text-align: center;
   padding: 2rem;
   
}
.compRow .comp{
   
   position: inherit;
   padding: 1rem;
  
    
}
